In [119]:
import pandas
import numpy
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler


my_data_frame = pandas.read_csv('/Credit-Data.csv', header = 0) # Your path may differ
print(my_data_frame)

    status  duration history purpose  amount bonds employment  rate marital  \
0      A11         6     A34     A43    1169   A65        A75     4     A93
1      A12        48     A32     A43    5951   A61        A73     2     A92
2      A14        12     A34     A46    2096   A61        A74     2     A93
3      A11        42     A32     A42    7882   A61        A74     2     A93
4      A11        24     A33     A40    4870   A61        A73     3     A93
..     ...       ...     ...     ...     ...   ...        ...   ...     ...
995    A14        12     A32     A42    1736   A61        A74     3     A92
996    A11        30     A32     A41    3857   A61        A73     4     A91
997    A14        12     A32     A43     804   A61        A75     4     A93
998    A11        45     A32     A43    1845   A61        A73     4     A93
999    A12        45     A34     A41    4576   A62        A71     3     A93

    debtors  ...  property age  plans housing credits   job maintenance  \
0      A101  ...      A121  67   A143    A152       2  A173           1
1      A101  ...      A121  22   A143    A152       1  A173           1
2      A101  ...      A121  49   A143    A152       1  A172           2
3      A103  ...      A122  45   A143    A153       1  A173           2
4      A101  ...      A124  53   A143    A153       2  A173           2
..      ...  ...       ...  ..    ...     ...     ...   ...         ...
995    A101  ...      A121  31   A143    A152       1  A172           1
996    A101  ...      A122  40   A143    A152       1  A174           1
997    A101  ...      A123  38   A143    A152       1  A173           1
998    A101  ...      A124  23   A143    A153       1  A173           1
999    A101  ...      A123  27   A143    A152       1  A173           1

     telephone foreign Unnamed: 20
0         A192    A201           1
1         A191    A201           2
2         A191    A201           1
3         A191    A201           1
4         A191    A201           2
..         ...     ...         ...
995       A191    A201           1
996       A192    A201           1
997       A191    A201           1
998       A192    A201           2
999       A191    A201           1

[1000 rows x 21 columns]

In [120]:
# Here I'm dropping the columns that correspond to non-numerical attributes
columns_to_drop = ["status", "history", "purpose", "bonds", "employment", "marital", "debtors", "property", "plans", "housing", "job", "telephone", "foreign"]

my_data_frame.drop(columns = columns_to_drop, inplace = True)
print(my_data_frame) # I'm printing the new data frame minus the non-numerical columns so we can see what the new data looks like

     duration  amount  rate  residence  age  credits  maintenance  Unnamed: 20
0           6    1169     4          4   67        2            1            1
1          48    5951     2          2   22        1            1            2
2          12    2096     2          3   49        1            2            1
3          42    7882     2          4   45        1            2            1
4          24    4870     3          4   53        2            2            2
..        ...     ...   ...        ...  ...      ...          ...          ...
995        12    1736     3          4   31        1            1            1
996        30    3857     4          4   40        1            1            1
997        12     804     4          4   38        1            1            1
998        45    1845     4          4   23        1            1            2
999        45    4576     3          4   27        1            1            1

[1000 rows x 8 columns]

In [121]:
labels = my_data_frame.iloc[:, 7].to_numpy() # Creating a numpy array of the class labels column (in other words, the last column)
data = my_data_frame.iloc[:, :7].to_numpy() # Creating a numpy array of all the other columns (this will be the training and test data)


# Train test split (90% train - 10% test)
X_train, X_test, y_train, y_test = train_test_split(data,
                                                    labels,
                                                    test_size=0.1,
                                                    random_state=42)

In [122]:
# Initializing the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler and transform the data
normalized_X_train = scaler.fit_transform(X_train)
normalized_X_test = scaler.transform(X_test) # You don't need to fit again here because the scaler is already fit with the correct values in the previous line

# Initializing the KNN model and creating predictions
model = KNeighborsClassifier(n_neighbors=10)
model.fit(normalized_X_train, y_train)
y_pred = model.predict(normalized_X_test)

In [123]:
accuracy_score(y_test, y_pred)

0.7